<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.formsapp">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FormsApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:label"
        android:theme="@style/AppTheme"
        android:name="org.litepal.LitePalApplication">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity"></activity>
        <activity android:name=".Form0"></activity>
        <activity android:name=".Form_0"></activity>
        <activity android:name=".Form1"></activity>
        <activity android:name=".Form_1">
            <action android:name="com.example.administrator.formsapp.FORM_1"/>
            <category android:name="android.intent.category.DEFAULT"/>
        </activity>
        <activity android:name=".Form2"></activity>
        <activity android:name=".Form_2">
            <action android:name="com.example.administrator.formsapp.FORM_2"/>
            <category android:name="android.intent.category.DEFAULT"/>
        </activity>
        <activity android:name=".Form3">
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE"/>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Form_3"></activity>
        <activity android:name=".Form4"></activity>
        <activity android:name=".Form_4"></activity>
        <activity android:name=".Form5"></activity>
        <activity android:name=".Form_5"></activity>
        <activity android:name=".Form6"></activity>
        <activity android:name=".Form_6"></activity>
        <activity android:name=".Form7"></activity>
        <activity android:name=".Form_7"></activity>
        <activity android:name=".Form8"></activity>
        <activity android:name=".Form_8"></activity>
        <activity android:name=".Form9"></activity>
        <activity android:name=".Form_9"></activity>
        <activity android:name=".Form10"></activity>
        <activity android:name=".Form_10"></activity>
        <activity android:name=".Form11"></activity>
        <activity android:name=".Form_11"></activity>
        <activity android:name=".Form_12"></activity>
        <activity android:name=".Photo"></activity>
        <activity android:name=".CommonList"></activity>
        <activity android:name=".MiningList"></activity>
        <activity android:name=".Common_1"></activity>
        <activity android:name=".Common_2"></activity>
        <activity android:name=".Common_3"></activity>
        <activity android:name=".Common_4"></activity>
        <activity android:name=".Common_5"></activity>
        <activity android:name=".Common_6"></activity>
        <activity android:name=".Common_7"></activity>
        <activity android:name=".Common_8"></activity>
        <activity android:name=".Common_9"></activity>
        <activity android:name=".Mining_1"></activity>
        <activity android:name=".Mining_2"></activity>
        <activity android:name=".Mining_3"></activity>
        <activity android:name=".Mining_4"></activity>
        <activity android:name=".Mining_5"></activity>
        <activity android:name=".Mining_6"></activity>
        <activity android:name=".Mining_7"></activity>
        <activity android:name=".Mining_8"></activity>
        <activity android:name=".Mining_9"></activity>
        <activity android:name=".Mining_10"></activity>
        <activity android:name=".Mining_11"></activity>
        <activity android:name=".Mining_12"></activity>
        <activity android:name=".Mining_13"></activity>

        <activity android:name=".Test">

            <intent-filter>
                <action android:name="com.example.administrator.formsapp.TEST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <provider
            android:authorities="com.example.administrator.formsapp.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>


    </application>

</manifest>